<h1>Task View</h1>

<div class="task-list">
    <div class="task">
        <div class="task__header">Task Header</div>
        <div class="task__body">Do this do that do this and that</div>
    </div>
    <div class="task">
        <div class="task__header">Task Header</div>
        <div class="task__body">Do this do that do this and that</div>
    </div>
    <div class="task">
        <div class="task__header">Task Header</div>
        <div class="task__body">Do this do that do this and that</div>
    </div>
    <div class="task">
        <div class="task__header">Task Header</div>
        <div class="task__body">Do this do that do this and that</div>
    </div>
    <div class="task">
        <div class="task__header">Task Header</div>
        <div class="task__body">Do this do that do this and that</div>
    </div>
</div>