@import "./app.mixins";
@import "./app.variables";
.base-button {
    width: 100%;
    background-color: black;
    color: white;
    line-height: 3em;
    padding: 10px;
    border: none;
    border-radius: 0px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    @include transition(100ms, ease-in);
}

.base-button:hover {
    box-shadow: 1px 4px 10px 0px rgba(75, 75, 75, 0.192);
}

.plus-button {
    background-color: #2e2e2e;
    position: absolute;
    right: 0;
    padding: 20px 30px;
    top: 0;
    height: 100%;
    @include transition(100ms, ease-in);
}

.plus-button:hover {
    box-shadow: 0px 3px 10px #a5a5a5;
    background-color: transparent;
}

.plus-button:after {
    color: orange;
    font-family: FontAwesome;
    content: "\f067";
    @include transition(100ms, ease-in);
}

.plus-button:hover:after {
    color: green;
}

.app-button {
    border: 1px solid $blue;
}

//
// Application level button styles for all components
//
%action-button {
    // padding: 30px;
    font-family: "FontAwesome";
    font-size: 1.5rem;
}

.c-button {
    &--check:before {
        @extend %action-button;
        color: $green;
        content: "\f00c";
    }
    &--edit:before {
        @extend %action-button;
        color: $content-grey;
        content: "\f040";
    }
    &--view:before {
        @extend %action-button;
        color: $blue;
        content: "\f129";
    }
    &--view:hover:before,
    &--edit:hover:before,
    &--check:hover:before {
        color: grey;
    }
}

.priority-x:before {
    @extend %action-button;
    content: "\f102";
    color: $red;
}

.priority-h:before {
    @extend %action-button;
    content: "\f106";
    color: $red;
}

.priority-m:before {
    @extend %action-button;
    content: "\f068";
    color: $amber;
}

.priority-l:before {
    @extend %action-button;
    content: "\f107";
    color: $green;
}

.green-button {
    background-color: $green;
    color: black;
}

.red-button {
    background-color: $red;
    color: black;
}

.amber-button {
    background-color: $amber;
    color: black;
}