@import "frontend/styles/app.forms";
@import "frontend/styles/app.buttons";
.view-task-container {
    .view-task-container {
        width: 100%;
        text-align: left;
    }
    .span-container {
        width: 100%;
    }
}